<div class='row'>
  <div class='col-md-4 col-md-offset-4'>
    <h1 class="text-center">Change Password</h1>
    <%= form_for @user, url: update_password_path,class:"form col-md-12 center-block"  do |f| %>        
      <div class="field">
        <div class="form-group">
          <%= f.label :current_password %><br>
          <%= f.password_field :current_password,class:"form-control input-lg" %>
        </div>
      </div>
      <div class="field">
        <div class="form-group">
          <%= f.label :password %><br>
          <%= f.password_field :password,class:"form-control input-lg" %>
        </div>
      </div>
      <div class="field">
        <div class="form-group">
          <%= f.label :password_confirmation %><br>
          <%= f.password_field :password_confirmation,class:"form-control input-lg" %>
        </div>
      </div>
      <div class="actions">
        <div class="form-group">
          <%= f.submit "Submit",class:"btn btn-primary btn-lg btn-block" %>
        </div>
      </div>
      <%= link_to 'Back', posts_path %>
    <% end %>
  </div>
</div>