<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control input-lg" %>
  </div>
</div>
<div class="field">
  <%= f.label :image %><br>
  <%= f.file_field :image %>
</div>
<div class="field">
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class:"form-control input-lg" %>
  </div>
</div>
<div class="field">
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, class:"form-control input-lg" %>
  </div>
</div>
<div class="field">
 <%= f.hidden_field :user_id , :value => current_user.id %>
</div>
<div class="actions">
  <div class="form-group">
    <%= f.submit "Submit",class:"btn btn-primary btn-lg btn-block" %>
  </div>
</div>


